@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/Ilisarniq-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Ilisarniq';
    font-weight: 300;
    font-style: italic;
    src: url('fonts/Ilisarniq-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: url('fonts/Ilisarniq-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 500;
    font-style: italic;
    font-display: auto;
    src: url('fonts/Ilisarniq-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url('fonts/Ilisarniq-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 700;
    font-style: italic;
    font-display: auto;
    src: url('fonts/Ilisarniq-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 900;
    font-style: normal;
    font-display: auto;
    src: url('fonts/Ilisarniq-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Ilisarniq';
    font-weight: 900;
    font-style: italic;
    font-display: auto;
    src: url('fonts/Ilisarniq-BlackItalic.otf') format('opentype');
}
